.App {
  background-color: rgb(230, 234, 239);
 
}

body {
  padding: 20px;
}


div {
  margin: 20px;
}

span {
  margin-left: 30px;
  font-size: x-large;
  font-weight: 700;
  color: rgb(21, 15, 15);
}

h1 {
  font-family: fantasy;
}


a {
  display: flex;
  color: black;
  padding: 30px;
  border: solid 1px;
  border-radius: 1rem;
  margin: 20px;
  border-color: #5e0327;
 
}

img {
  height: 250px;
  width: 400px;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}